[Unit]
Description=Start folder watcher on boot
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/imagepick/listner.py
WorkingDirectory=/home/sanjeevexpo1/imagepick 
StandardOutput=journal
Restart=always
User=sanjeevexpo1

[Install]
WantedBy=multi-user.target
